<style>
	.dialogdemoBasicUsage #popupContainer {
		position: relative;
	}
	.dialogdemoBasicUsage .footer {
		width: 100%;
		text-align: center;
		margin-left: 20px;
	}
	.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
		font-size: 0.8em;
		margin-top: 50px;
	}
	.dialogdemoBasicUsage button {
		width: 200px;
	}
	.dialogdemoBasicUsage div#status {
		color: #c60008;
	}
	.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
		margin-bottom: 0;
	}
</style>

<form id="curse">
	<md-dialog aria-label="Archivos Enviados" style="">
		<md-toolbar>
			<div class="md-toolbar-tools">
			<h2>Archivos Enviados</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<i style="font-size: x-large;" class="fa-solid fa-delete-left" aria-label="Close dialog"></i>
			</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content class="md-dialog-content" role="document" tabindex="-1" id="dialogContent_54">
			
			<div layout="row" layout-wrap>
				<div flex="100">  
					
					<md-table-container>
						<table md-table  multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
						  <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
							<tr md-row >
							  <th md-column md-order-by="cod"><span>Cod</span></th>
							  <th md-column ><span>Archivo</span></th>
							  <th md-column ><span>Acciones</span></th>
							</tr>
						  </thead>
						  <tbody md-body>
							<tr md-row ng-repeat="arch in archivos | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit" >
							  <td md-cell>{{arch.cod}}</td>
							  <td md-cell>{{arch.nombre}}</td>
							  <td md-cell>
								<a target="_blank" href="{{urlEvaluaciones}}{{arch.archivo}}"><span style="font-size: medium; padding: 4px;" ><i class="fa-solid fa-file-arrow-down"></i></span></a>
								<a><span style="font-size: medium; padding: 4px;" ng-click="onSubmit(arch)"><i class="fa-solid fa-trash"></i></span></a>
							  </td>
							</tr>
						  </tbody>
						</table>
					  </md-table-container>
				</div>
			</div>  
		</md-dialog-content>
	</form>
  </md-dialog>