<style type="text/css">
	.menu {
		text-align: center;
		padding-top: 25px;
		font-weight: 700;
		font-size: 12px;
	}

	.menu:hover{
		
		font-size: 12px;
		background-color: #E3E3E3;
		color: #000;
	}

</style>

<!--div id="layout-content-with-toolbar" class="template-layout" layout="column" flex>
    <md-toolbar id="toolbar" class="md-menu-toolbar md-whiteframe-1dp" ui-view="toolbar">
    	<div layout="row" layout-wrap>
    		<div flex="20">
          Logo Mi alarma

        </div>

  			<div flex="10" class="menu">
  				
  				<a style="text-decoration: none; color: #000">Productos</a>
  			</div>

  			<div flex="10" class="menu">
  				<a style="text-decoration: none; color: #000">Preguntas Frecuentes</a>
  			</div>

  			<div flex="10" class="menu">
  				<a style="text-decoration: none; color: #000">Contáctanos</a>  				
  			</div>
			<!--
  			<<div></div> flex="10" class="menu">
  				<a style="text-decoration: none; color: #000">ES</a>		
  			</div>
			-->
  			<!--div flex="10" class="menu">
  				<a style="text-decoration: none; color: #000">Abrir cuenta</a>
  			</div>

  			<div flex="10" class="menu">
  				<a style="text-decoration: none; color: #000">Entrar</a>
  			</div>
  			<div flex="20" ></div>

    	</div-->
    	

    </md-toolbar>
    <md-content id="content" class="animate-slide-up md-hue-2" ui-view="content" flex></md-content>

    <md-sidenav id="quick-panel" class="md-sidenav-right md-whiteframe-4dp" md-component-id="quick-panel" ms-scroll
                ui-view="quickPanel"></md-sidenav>


</div>