<style>
	.dialogdemoBasicUsage #popupContainer {
		position: relative;
	}
	.dialogdemoBasicUsage .footer {
		width: 100%;
		text-align: center;
		margin-left: 20px;
	}
	.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
		font-size: 0.8em;
		margin-top: 50px;
	}
	.dialogdemoBasicUsage button {
		width: 200px;
	}
	.dialogdemoBasicUsage div#status {
		color: #c60008;
	}
	.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
		margin-bottom: 0;
	}
</style>

<form id="curse">

	<md-dialog aria-label="Detalle de la Evaluación" style=" width: 600px; height: 550px;">
		<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
			<h2>Detalle de la Evaluación Cerrada</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<i style="font-size: x-large;" class="fa-solid fa-delete-left" aria-label="Close dialog"></i>
			</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content class="md-dialog-content" role="document" tabindex="-1" id="dialogContent_54">
			
			<div layout="row" layout-wrap>
				<div flex="100">  
					<label><span style="font-style: italic; font-weight: 600;">Materia:</span> {{command.materia}} - {{command.trimestre}} Trimestre.</label>
					</br>
					<label ng-if="command.cod_tipo_evaluacion == '1'"><span style="font-style: italic; font-weight: 600;">Tipo de Evaluación:</span> Nota Parciales</label>
					<label ng-if="command.cod_tipo_evaluacion == '2'"><span style="font-style: italic; font-weight: 600;">Tipo de Evaluación:</span> Nota de Apreciación</label>
					<label ng-if="command.cod_tipo_evaluacion == '3'"><span style="font-style: italic; font-weight: 600;">Tipo de Evaluación:</span> Examen mensual</label>
					<label ng-if="command.cod_tipo_evaluacion == '4'"><span style="font-style: italic; font-weight: 600;">Tipo de Evaluación:</span> Examen trimestral</label>
					</br>
					<label><span style="font-style: italic; font-weight: 600;">Nombre:</span> {{command.nombre}}</label>
					</br>
					<label><span style="font-style: italic; font-weight: 600;">Descripción:</span> {{command.descripcion}}</label>
					</br>
					<label><span style="font-style: italic; font-weight: 600;">Fecha maxima de Entrega:</span> {{command.end}}</label>
					</br>
					</br>
					<md-divider></md-divider>
					</br>
					<label><span style="font-style: italic; font-weight: 600;">Área de archivos de correción de evaluación, si esta vacio no hubo necesidad de cargar archivos</span> </label>
					
					<md-table-container>
						<table md-table  multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
						<thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
							<tr md-row >
							<th md-column md-order-by="cod"><span>Cod</span></th>
							<th md-column ><span>Archivo</span></th>
							<th md-column ><span>Acciones</span></th>
							</tr>
						</thead>
						<tbody md-body>
							<tr md-row ng-repeat="arch in archivos | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit" >
							<td md-cell>{{arch.cod}}</td>
							<td md-cell>{{arch.nombre}}</td>
							<td md-cell>
								<a target="_blank" href="{{urlEvaluaciones}}{{arch.archivo}}"><span style="font-size: medium; padding: 4px;" ><i class="fa-solid fa-file-arrow-down"></i></span></a>
							</td>
							</tr>
						</tbody>
						</table>
					</md-table-container>

				</div>
			</div>  
			
		</md-dialog-content>
	
		</form>	
		
	</form>
  </md-dialog>