<style>
	.dialogdemoBasicUsage #popupContainer {
		position: relative;
	}
	.dialogdemoBasicUsage .footer {
		width: 100%;
		text-align: center;
		margin-left: 20px;
	}
	.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
		font-size: 0.8em;
		margin-top: 50px;
	}
	.dialogdemoBasicUsage button {
		width: 200px;
	}
	.dialogdemoBasicUsage div#status {
		color: #c60008;
	}
	.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
		margin-bottom: 0;
	}
</style>


<md-dialog aria-label="Eliminar Evaluación" style=" width: 500px;">
	<form name="formu" novalidate>
	  <md-toolbar>
		<div class="md-toolbar-tools">
		  <h2>Eliminar Evaluación</h2>
		  <span flex></span>
		  <md-button class="md-icon-button" ng-click="cancel()">
			<i style="font-size: x-large;" class="fa-solid fa-delete-left" aria-label="Close dialog"></i>
		  </md-button>
		</div>
	</md-toolbar>

	<md-dialog-content class="md-dialog-content" role="document" tabindex="-1" id="dialogContent_54">
	</br>
		<label>Esta seguro de eliminar la evaluación 
			<span style="font-style: italic; font-weight: 600;">{{command.nombre}} </span>
			planteada para la fecha
			<span style="font-style: italic; font-weight: 600;"> {{command.fecha | date}}, {{command.hora_ini | date : 'mediumTime'}} - {{command.hora_fin | date : 'mediumTime'}}</span>
		</label>
		
		
		<!-- end ngIf: ::dialog.$type == 'prompt' -->
	</md-dialog-content>
	
	  <md-dialog-actions layout="row">	
		<span flex></span>
		<md-button ng-click="cancel()" >
		  Cancelar
		</md-button>
		<md-button ng-click="onSubmit(command)"  class="md-primary" md-autofocus>
			Eliminar
		</md-button>
	  </md-dialog-actions>
	</form>
  </md-dialog>