<style>
    body {
        background-color: #FFFFFF;
    }


</style>


<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="space-between" style="height: 100px; min-height: 100px;">
      <div layout="column" layout-align="center start">
          <div class="title" style="font-size: 24px;">Reportes Varios</div>
      </div>
  </div>


<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      
      <md-tab label="Consejeros" ng-click="tabConsejeros()">
        <md-content class="md-padding">
          <div layout="row" layout-wrap>
            <div flex="100">  
              <md-toolbar class="md-table-toolbar md-default" >
                <div class="md-toolbar-tools">
                    <span style="font-size: 14px;" ></i> Lista de curso, donde soy Consejero. </span>
                    </br>
                    <span style="font-size: 14px;" ng-click="pdfGenerarCursoConsejero(cursos)"><i class="fa-thin fa-plus"></i> PDF </span>
                </div>
              </md-toolbar>
              <md-table-container>
                <table md-table multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
                  <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                    <tr md-row >
                      <th md-column md-order-by="cod"><span>Cod</span></th>
                      <th md-column md-order-by="curso"><span>Curso</span></th>
                      <th md-column md-order-by="seccion"><span>Seccion</span></th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row md-row ng-repeat="curso in cursos | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit" >
                      <td md-cell>{{curso.cod}}</td>
                      <td md-cell>{{curso.curso}}</td>
                      <td md-cell>{{curso.seccion}}</td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
              <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{cursos.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
          </div>
        </div>  
        </md-content>
      </md-tab>
      
    </md-tabs>
  </md-content>
</div>

</div>