<style>
  body {
      background-color: #FFFFFF;
  }


</style>


<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

<!-- HEADER -->
<div class="header md-accent-bg" layout="row" layout-align="space-between" style="height: 100px; min-height: 100px;">
    <div layout="column" layout-align="center start">
        <div class="title" style="font-size: 24px;">Clases</div>
    </div>
</div>


<div ng-cloak>
<md-content>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Registro" ng-click="init()">
      <md-content class="md-padding">
        <md-toolbar class="md-table-toolbar md-default" >
          <div class="md-toolbar-tools">
            <div flex="40">
              <md-input-container>
                <label>Seleccione el Grados</label>
                <md-select  ng-model="command.cod_curso" ng-change="getEvaluaciones(command)" required>
                  <md-option ng-repeat="curso in cursos" ng-value="curso">
                  {{curso.curso}} - {{curso.seccion}} - {{curso.materia}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>

            <div flex="20"></div>

            <div flex="40">
              <span style="font-size: 14px;" ng-if="command.cod_curso" ng-click="modalAddEvaluaGrado(ev)"><i class="fa-thin fa-plus"></i> Agregar Clase al Salón</span>
            </div>
            
            
          </div>
        </md-toolbar>
        <div layout="row" layout-wrap ng-if="evaluaciones">
          <div flex="100">  
            <!--md-table-container>
              <table md-table  multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
                <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                  <tr md-row >
                    <th md-column md-order-by="cod"><span>Cod</span></th>
                    <th md-column md-order-by="NOMBRE"><span>Asunto</span></th>
                    <th md-column md-order-by="cod_tipo_evaluacion"><span>Tipo</span></th>
                    <th md-column md-order-by="nombres"><span>Horario</span></th>
                    <th md-column md-order-by="nombres"><span>Fecha</span></th>
                    <th md-column ><span>Acciones</span></th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row ng-repeat="eva in evaluaciones | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit" >
                    <td md-cell>{{eva.cod}}</td>
                    <td md-cell>{{eva.nombre}}</td>
                    <td md-cell ng-if="eva.cod_tipo_evaluacion == '1'">Nota Parciales</td>
                    <td md-cell ng-if="eva.cod_tipo_evaluacion == '2'">Nota de Apreciación</td>
                    <td md-cell ng-if="eva.cod_tipo_evaluacion == '3'">Examen Mensual</td>
                    <td md-cell ng-if="eva.cod_tipo_evaluacion == '4'">Examen trimestral</td>
                    <td md-cell>{{eva.hora_ini | date : 'mediumTime'}} - {{eva.hora_fin | date : 'mediumTime'}} </td>
                    <td md-cell>{{eva.fecha  | date}} </td>
                    <td md-cell>
                      <span style="font-size: medium; padding: 4px;" ng-click="modalEditEvaluaGrado(eva, ev)"><i class="fa-solid fa-pen-to-square"></i></span>
                      <span style="font-size: medium; padding: 4px;" ng-click="modalDuplicarEvaluacion(eva, ev)"><i class="fa-solid fa-clone"></i></span>
                      <span style="font-size: medium; padding: 4px;" ng-click="modalAddArchivoEvaluacion(eva, ev)"><i class="fa-solid fa-folder-open"></i></span>
                      <span style="font-size: medium; padding: 4px;" ng-click="modalBorrarEvaluaGrado(eva, ev)"><i class="fa-solid fa-trash"></i></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>

            <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{evaluaciones.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination-->
        </div>
      </div>  
    </md-tab>    



  </md-tabs>
</md-content>
</div>

</div>

