<style>
  
  .cartera > div {
    padding-left: 20px;
    border-bottom: 1px dotted silver;
  }
  
  .cartera > div:last-child {
    border-bottom: 1px solid silver;
    padding: 10px;
  }

  .cartera_descripcion img{
    width: 25px;
    height: 25px;
  }

  .cartera_descripcion span{
    margin-left: 10px;
  }

  .cartera_saldo {
    padding-right: 10px;
    color: #0b91c6
  }

  .cartera_toggle {
    /*border-left: 1px solid #e2e2e2;*/
    text-align: center;
    cursor: pointer;
  }

  .cartera_content {
    border-bottom: 1px solid #e2e2e2;
    padding: 2px 20px;
  }

  .cartera_content  p {
    margin: 0px
  }

  .cartera.collapse {
    background: #ecf3fb
  }

  #togle{
    opacity:0.5;
  }
  #togle:hover{
    opacity:1;
    transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
    background:#ecf3fb;
  }

  .badge-slider {
    max-height: 100px;
    -webkit-transition: max-height linear 0.5s;
    -moz-transition: max-height linear 0.5s;
    -o-transition: max-height linear 0.5s;
    transition: max-height linear 0.5s;
    overflow:hidden;
  }

  .badge-slider.ng-hide {
    max-height: 0px;
}


  

</style>


<div class="cartera" layout ng-class="{'collapse': cartera.collapse}">  
  <div 
    class="cartera_descripcion" 
    flex="50" 
    layout layout-align="start center">
      <img src="{{cartera.icon}}">
      <span>{{cartera.nick}}</span>
  </div>

  <div 
    class="cartera_saldo" 
    flex="40"
    layout layout-align="end center">
    {{cartera.balance | number:4}} {{cartera.currency}}
  </div>

  <div id="togle" 
    flex="10"
    ng-click="cartera.onToggle()"
    class="cartera_toggle"
    layout layout-align="center center">
    <i class="{{cartera.toggleIcon}}"></i>
  </div>

</div>

<div class="cartera_content badge-slider" layout ng-show="cartera.collapse" id="detail" >
  
  <div flex="30" layout layout-align="end center">
    <md-button
      ng-click="cartera.openModalRetiro($event)">
      Retirar 
      <i class="fa fa-arrow-right"></i> 
    </md-button>
  </div>

  <div flex="30" layout layout-align="start center">
    <md-button 
      class="md-accent md-raised"  
      ng-click="cartera.openModalDeposito($event)" >
      <i class="fa fa-arrow-left"></i>
      Depositar
    </md-button>
  </div>

  <div flex="40" layout="column" layout-align="center end">
    <p>USD 530.00 </p>
    <p>LTC 231123,00  </p>
    <p>LTC 2311230004,00</p>
  </div> 
  
</div>