<md-toolbar class="navigation-header md-whiteframe-1dp" layout="row" layout-align="space-between center">
    <div class="logo" layout="row" layout-align="start center">
        <img style="width: 51%; margin-left: 18%;" src="assets/varias/OK_LOGO_POSITIVO.png" alt="">
        <!--span class="logo-image">G</span>
        <span class="logo-text">Gosen</span-->
    </div>

    <!--md-icon class="fold-toggle s18" 
             ng-click="vm.toggleMsNavigationFolded()">
        <i class="fa-solid fa-bars"></i>
    </md-icon-->
                
</md-toolbar>

<!--
<ms-navigation class="scrollable" folded="vm.folded" ms-scroll="vm.msScrollOptions">

</ms-navigation	>
-->
<menu-coinex class="scrollable" folded="vm.folded" ms-scroll="vm.msScrollOptions"></menu-coinex>
