<style>
    body {
        background-color: #FFFFFF;
    }


</style>


<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="space-between" style="height: 100px; min-height: 100px;">
      <div layout="column" layout-align="center start">
          <div class="title" style="font-size: 24px;">Perfil de Usuario</div>
      </div>
  </div>

<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Correo Electronico" ng-click="">
        <md-content class="md-padding">
         
          <div layout="row" layout-wrap>
            <div flex="20"></div>
            <div flex="60">  
              <h2>Ingrese su Correo o Actualícelo</h2>
              <form name="loginForm" novalidate>
                
                

                <md-input-container class="md-block" md-no-float>
                  <input type="email" name="email" ng-model="command.correo" placeholder="Correo Electronico"
                        ng-pattern="/^.+@.+\..+$/" required>       
                  <div ng-messages="loginForm.email.$error" role="alert" multiple>
                      <div ng-message="required">
                          <span>El Correo es requerido</span>
                      </div>
                      <div ng-message="pattern">
                          <span>Correo no es valido, requiero uso de @ y .</span>
                      </div>
                  </div>
                </md-input-container>
  
                <md-button type="button" ng-click="onSubmit(command)" class="md-raised md-accent submit-button" aria-label="Actualizar"
                           ng-disabled="loginForm.$invalid || loginForm.$pristine">
                            Actualizar
                </md-button>
            </form>
                
            </div>
          </div> 
        </md-content>   
      </md-tab>
      
      

    </md-tabs>
  </md-content>
</div>

</div>