<style>
	.dialogdemoBasicUsage #popupContainer {
		position: relative;
	}
	.dialogdemoBasicUsage .footer {
		width: 100%;
		text-align: center;
		margin-left: 20px;
	}
	.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
		font-size: 0.8em;
		margin-top: 50px;
	}
	.dialogdemoBasicUsage button {
		width: 200px;
	}
	.dialogdemoBasicUsage div#status {
		color: #c60008;
	}
	.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
		margin-bottom: 0;
	}
</style>


<md-dialog aria-label="Asignar Materia" style=" width: 500px;">
	<form name="formu" novalidate>
	  <md-toolbar>
		<div class="md-toolbar-tools">
		  <h2>Asignar Materia al Grado</h2>
		  <span flex></span>
		  <md-button class="md-icon-button" ng-click="cancel()">
			<i style="font-size: x-large;" class="fa-solid fa-delete-left" aria-label="Close dialog"></i>
		  </md-button>
		</div>
	</md-toolbar>

	<md-dialog-content class="md-dialog-content" role="document" tabindex="-1" id="dialogContent_54">
		<br>
		  <!--md-input-container>
			<label>Seleccione el Grado</label>
			<md-select style="width: 380px;" ng-model="command.cod_curso" required>
				<md-option ng-repeat="curso in cursos" ng-value="curso.cod">
				{{curso.curso}} - {{curso.seccion}} - {{curso.materia}}
				</md-option>
			</md-select>
		</md-input-container-->
		<md-input-container>
			<label>Seleccione el Docentes</label>
			<md-select style="width: 380px;" ng-model="command.cod_maestro" required>
				<md-option ng-repeat="maestro in maestros" ng-value="maestro.cod">
					{{maestro.nombres}} - {{maestro.cedula}}
				</md-option>
			</md-select>
		</md-input-container>
		<p style="color: #c60008;">Solo apareceran, datos sin asignacion de Docentes</p>
		
		<md-table-container>
			<table md-table md-row-select="options.rowSelection"   multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
			  <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
				<tr md-row >
				  <th md-column md-order-by=""><span>Cod</span></th>
				  <th md-column md-order-by=""><span>Curso</span></th>
				</tr>
			  </thead>
			  <tbody md-body>
				<tr md-row md-select="curso" md-select-id="curso.cod" md-auto-select  md-row ng-repeat="curso in cursos | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit" >
				  <td md-cell>{{curso.cod}}</td>
				  <td md-cell>{{curso.curso}} - {{curso.seccion}} - {{curso.materia}}</td>
				</tr>
			  </tbody>
			</table>
		  </md-table-container>
		  <md-table-pagination md-limit="100" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
		

		<!-- end ngIf: ::dialog.$type == 'prompt' -->
	</md-dialog-content>
	
	  <md-dialog-actions layout="row">	
		<span flex></span>
		<md-button ng-click="cancel()" >
		  Cancelar
		</md-button>
		<md-button ng-click="onSubmit(command)" ng-disabled="formu.$invalid" class="md-primary" md-autofocus>
			Enviar
		</md-button>
	  </md-dialog-actions>
	</form>
  </md-dialog>